@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 1.125rem;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-webkit-box-orient: vertical;*/
  /*-webkit-box-direction: normal;*/
  /*    -ms-flex-direction: column;*/
  /*        flex-direction: column;*/
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  /*background-color: ;*/
}

.wrapper__bg {
  min-height: 100vh;
  background-image: url("../img/bg.jpg");
  display: flex;
  /*align-items: center;*/
  padding-top: 250px;
  justify-content: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 80px;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
  color: #333333;
}

.header__logo:hover {
  text-decoration: underline;
}

.header__help {
  color: #333333;
  position: relative;
  cursor: pointer;
}

.header__help-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__help:hover {
  text-decoration: underline;
}

.header__help.active .header__phones {
  -webkit-transform: translate(0px, 10px);
      -ms-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  opacity: 1;
  visibility: visible;
}

.header__phones {
  top: 100%;
  left: 0;
  -webkit-transform: translate(20px, 20px);
      -ms-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  position: absolute;
  padding: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #333333;
  color: #FFFFFF;
}

.footer {
  padding: 30px;
  background: rgba(35, 34, 34, 0.914);
  color: #fff;
}

.footer__container {
  text-align: center;
}

/*
  All a user has to do to change the calendar size is
  change the font-size on the container and everything
  magically resizes accordingly. Relative units ftw!
*/

.qs-datepicker-container {
  font-size: 1rem;
  font-family: sans-serif;
  color: black;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid gray;
  border-radius: 0.263921875em;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.qs-hidden {
  display: none;
}

.qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-overlay .qs-overlay-year {
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-overlay .qs-submit {
  border: 1px solid white;
  border-radius: 0.263921875em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.4);
}

.qs-overlay .qs-submit.qs-disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 3);
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-overlay .qs-overlay-month.active,
.qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: lightgray;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-controls.qs-blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.263921875em;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-arrow:hover.qs-left:after {
  border-right-color: black;
}

.qs-arrow:hover.qs-right:after {
  border-left-color: black;
}

.qs-arrow:after {
  content: "";
  border: 0.390625em solid transparent;
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-arrow.qs-left:after {
  border-right-color: gray;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
      -ms-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
}

.qs-arrow.qs-right:after {
  border-left-color: gray;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
      -ms-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
}

.qs-month-year {
  font-weight: bold;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.qs-month-year:hover {
  border-bottom: 1px solid gray;
}

.qs-month-year:focus,
.qs-month-year:active:focus {
  outline: none;
}

.qs-month {
  padding-right: 0.5ex;
}

.qs-year {
  padding-left: 0.5ex;
}

.qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-squares.qs-blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.qs-square {
  width: calc(100% / 7);
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.263921875em;
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange;
}

.qs-current {
  font-weight: bold;
  text-decoration: underline;
}

/*
  3 possibilities:
    1. Single, active date.
    2. Daterange start selection.
    3. Daterange end selection.
*/

.qs-active,
.qs-range-start,
.qs-range-end {
  background: lightblue;
}

.qs-range-start:not(.qs-range-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-range-middle {
  background: #d4ebf2;
}

.qs-range-middle:not(.qs-range-0):not(.qs-range-6) {
  border-radius: 0;
}

.qs-range-middle.qs-range-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-range-middle.qs-range-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-range-end:not(.qs-range-0) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-disabled,
.qs-outside-current-month {
  opacity: 0.2;
}

.qs-disabled {
  cursor: not-allowed;
}

.qs-empty {
  cursor: default;
}

.qs-day {
  cursor: default;
  font-weight: bold;
  color: gray;
}

.qs-event {
  position: relative;
}

.qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.order {
  /*padding: 100px 0px;*/
  /*background: #1e212c;*/
}

.order__title {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 70px;
  text-align: center;
}

.city-error {
  display: none;
  color: red;
  position: absolute;
  bottom: -20px;
  left: 10px;
}

.form {
  padding: 30px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.form__to-block {
  position: relative;
}

.form__input {
  border-radius: 10px;
  padding: 20px;
}

.form__input.error {
  border: 1px solid red;
}

.form__button {
  padding: 20px;
  background-color: #d84727;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.form__button:hover {
  background-color: #97260d;
}

.not-found {
  font-size: 50px;
  color: gray;
}

.schedule {
  background-color: rgba(216, 71, 39, 0.1);
  padding-top: 70px;
  padding-bottom: 90px;
}

.schedule__container {
  max-width: 880px;
}

.schedule__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.schedule__title {
  font-size: 45px;
  margin-bottom: 40px;
}

.top-route {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.top-route__departure {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.top-route__time {
  font-weight: 500;
  font-size: 40px;
}

.top-route__date {
  color: gray;
}

.top-route__point {
  color: gray;
}

.top-route__arrival {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.top-route__actions {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.top-route__price {
  font-weight: 500;
  font-size: 40px;
}

.top-route__btn {
  padding: 15px 30px;
  background-color: #d84727;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
}

.ticket-page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
  padding-bottom: 50px;
}

.ticket-page__block {
  max-width: 660px;
  width: 100%;
}

.ticket-page__link {
  background-color: #f9253f;
  color: #fff;
  width: 100%;
  padding: 15px 0px;
  margin-top: 20px;
  border-radius: 5px;
}

.ticket-setting__block {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 50px;
  padding: 35px 30px 30px 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ticket-setting__title {
  color: #424543;
  font-size: 2rem;
  margin-bottom: 20px;
}

.ticket-setting__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ticket-setting__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.ticket-setting__input {
  padding: 11px 15px;
  font-size: 1.14286em;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  border-radius: 6px;
  line-height: 1.42857;
  color: #424543;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2d2;
}

.ticket-setting__label {
  color: #a7a7a7;
}

.ticket-payment__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #424543;
}

.ticket-payment__middle {
  margin-top: 15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket-payment__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.ticket-payment__icons img {
  -o-object-fit: cover;
     object-fit: cover;
}

.ticket-payment__form-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.ticket-payment__form-block:not(:last-child) {
  margin-bottom: 20px;
}

.ticket-payment__input {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
}

.payment {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.payment__container {
  padding-top: 60px;
  flex: 1 1 auto;
}

.payment h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.payment__container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}