<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Головна</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="icon" type="image/x-icon" href="../../../../../../BusStation-master/BusStation-master/src/main/resources/static/img/bus.png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&_v=20221213225228" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="wrapper">
	<div class="wrapper__bg">

		<main class="page">
			<!--/*@thymesVar id="from" type="java.lang.String"*/-->
			<!--/*@thymesVar id="to" type="java.lang.String"*/-->
			<div class="order">
				<div class="order__container">
					<div class="order__title">Оберіть свій маршрут</div>
					<form class="order__form form" action="/listTrips" method="get">
						<div class="form__to-block">
							<input required placeholder="Звідки" name="from" type="text" th:value="${from}" class="form__from form__input">
							<!--/*@thymesVar id="wrong_city" type="String"*/-->
							<span class="city-error" th:if="${wrong_city != null}">Місто <span th:text="${wrong_city}"></span> не знайдено</span>
						</div>
						<input required placeholder="Куди" name="to" type="text" th:value="${to}" class="form__to form__input">
						<!--/*@thymesVar id="startDate" type="java.sql.Date"*/-->
						<input required name="startDate" type="text" th:value="${startDate}" class="form__date form__input" placeholder="Оберіть дату">
						<button class="form__button" type="submit">Знайти квитки</button>
					</form>
				</div>
			</div>
		</main>
	</div>
	<div class="schedule" th:if="${trips != null && !trips.isEmpty()}">
		<div class="schedule__container">
			<div class="schedule__title">
				Розклад автобусів <span th:text="${from}"></span> - <span th:text="${to}"></span>
			</div>
			<!--/*@thymesVar id="trips" type="java.util.List"*/-->
			<div class="schedule__list" th:each="trip: ${trips}">
				<!--/*@thymesVar id="trip" type="com.tv12.busstation.domain.ui.UiTrip"*/-->
				<div class="schedule__route route">
					<div class="route__top top-route">
						<div class="top-route__departure">
							<div class="top-route__time" th:text="${trip.timeFrom()}"></div>
							<div class="top-route__date" th:text="${trip.dateFrom()}"></div>
							<div class="top-route__location" th:text="${trip.cityFrom()}"></div>
						</div>
						<div class="top-route__arrival">
							<div class="top-route__time" th:text="${trip.timeTo()}"></div>
							<div class="top-route__date" th:text="${trip.dateTo()}"></div>
							<div class="top-route__location" th:text="${trip.cityTo()}"></div>
						</div>
						<div class="top-route__actions">
							<div class="top-route__price" th:text="${trip.price() + ' грн'}"></div>
							<form action="/orderTicket" method="POST">
								<input type="hidden" name="journeyId" th:value="${trip.journeyId()}">
								<input type="hidden" name="stopIdFrom" th:value="${trip.stopIdFrom()}">
								<input type="hidden" name="stopIdTo" th:value="${trip.stopIdTo()}">
								<button type="submit"><div class="top-route__btn">Обрати</div></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="footer__container">
			© 2022, Flash — Онлайн сервіс з продажу квитків. Всі права захищені.
		</div>
	</footer>
</div>
<script src="/js/app.js?_v=20221213225228"></script>
</body>

</html>