<!DOCTYPE html>
<html lang="en">

<head>
	<title>Головна</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&_v=20221213225228" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<a href="/" class="header__logo">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="60" height="60" viewBox="0 0 256 256" xml:space="preserve">

							<defs>
							</defs>
						<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
								<path d="M 75.886 19.437 H 3.328 C 1.49 19.437 0 20.927 0 22.765 V 59.88 c 0 1.48 1.2 2.679 2.679 2.679 h 4.32 C 7.091 57 11.62 52.519 17.202 52.519 c 5.582 0 10.111 4.481 10.203 10.041 h 35.757 c 0.092 -5.56 4.621 -10.041 10.203 -10.041 c 5.582 0 10.111 4.481 10.203 10.041 h 0.836 h 2.808 c 1.463 0 2.648 -1.188 2.649 -2.65 C 89.876 34.865 89.616 19.437 75.886 19.437 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(87,134,204); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
							<path d="M 89.816 50.048 c -5.048 -4.637 -10.78 -7.562 -17.617 -7.719 H 18.145 c -1.003 0 -1.816 -0.813 -1.816 -1.816 V 29.69 c 0 -1.003 0.813 -1.816 1.816 -1.816 h 69.154 C 89.861 32.148 90.328 41.881 89.816 50.048 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(225,231,241); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
							<rect x="33.45" y="24.81" rx="0" ry="0" width="3" height="18.84" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(87,134,204); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) "/>
							<rect x="52.08" y="24.81" rx="0" ry="0" width="3" height="18.84" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(87,134,204); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) "/>
							<rect x="70.7" y="24.81" rx="0" ry="0" width="3" height="18.84" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(87,134,204); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) "/>
							<circle cx="73.363" cy="62.733" r="7.833" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(42,70,111); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
							<circle cx="73.361" cy="62.730999999999995" r="2.611" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(59,88,131); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
							<circle cx="17.203" cy="62.733" r="7.833" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(42,70,111); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
							<circle cx="17.201" cy="62.730999999999995" r="2.611" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(59,88,131); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
							</g>
							</svg>
				</a>
				<div class="header__help">
					<div class="header__help-container">
						<svg height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							 viewBox="0 0 508 508" xml:space="preserve">
							<circle style="fill:#54C0EB;" cx="254" cy="254" r="254"/>
							<path style="fill:#FFFFFF;" d="M303.7,303.3c30.5-17.3,51-50.1,51-87.6c0-55.7-45.1-100.8-100.8-100.8S153.2,160,153.2,215.6
								c0,37.6,20.6,70.3,51,87.6C141,319.3,89.7,365,66,424.8c46.5,51.1,113.5,83.2,188,83.2s141.5-32.1,188-83.2
								C418.3,365,367,319.3,303.7,303.3z"/>
							<path style="fill:#324A5E;" d="M401.6,182.3h-15.8C370.9,123.4,317.5,79.6,254,79.6s-116.9,43.7-131.8,102.7h-15.8
								c-5.4,0-9.8,4.4-9.8,9.8V240c0,5.4,4.4,9.8,9.8,9.8h20c6.1,0,10.8-5.5,9.7-11.4c-2-10.4-2.7-21.3-1.8-32.5
								c4.8-59.3,53.6-106.9,113.1-110.1c69.2-3.8,126.8,51.5,126.8,119.9c0,7.8-0.8,15.3-2.2,22.7c-1.2,6,3.6,11.5,9.6,11.5h1.8
								c-4.2,13-14.9,37.2-38.3,50.2c-19.6,10.9-44.3,11.9-73.4,2.8c-1.5-6.7-8.9-14.6-16.5-18.3c-9.8-4.9-15.9-0.8-19.4,6.2
								s-3,14.3,6.7,19.2c8.6,4.3,21.6,5.2,27,0.5c13.9,4.3,26.9,6.5,39,6.5c15,0,28.5-3.3,40.4-10c27.5-15.3,38.8-43.7,42.8-57.2h9.9
								c5.4,0,9.8-4.4,9.8-9.8v-47.9C411.4,186.7,407,182.3,401.6,182.3z"/>
							</svg>
						Служба підтримки
					</div>
					<div class="header__phones">
						<a href="tel:+380960981783" class="header__phone">+380960981783</a>
						<a href="tel:+380960981783" class="header__phone">+380960981783</a>
						<a href="tel:+380960981783" class="header__phone">+380960981783</a>
					</div>
				</div>
			</div>
		</header>
		<div class="ticket-page">
			<form action="/payment" class="ticket-setting__form" method="POST">
				<div class="ticket-page__block ticket-setting">
					<div class="ticket-setting__block">
						<h2 class="ticket-setting__title">Оформлення квитка</h2>
							<div class="ticket-setting__form-block">
								<label class="ticket-setting__label">Ім'я</label>
								<input required type="text" class="ticket-setting__input" name="name" placeholder="Іван">
							</div>
							<div class="ticket-setting__form-block">
								<label class="ticket-setting__label">Прізвище</label>
								<input required type="text" class="ticket-setting__input" name="surname" placeholder="Іванов">
							</div>
						<label class="ticket-setting__label">Номер місця</label>
						<select required class="ticket-setting__input" name="seatNumber">
							<option>(не обрано)</option>
							<!--/*@thymesVar id="availableSeats" type="java.util.List"*/-->
							<!--/*@thymesVar id="seat" type="java.lang.Integer"*/-->
							<option th:each="seat: ${availableSeats}" th:value="${seat}" th:text="${seat}"></option>
						</select>
					</div>
				</div>
				<div class="ticket-page__block ticket-setting">
					<div class="ticket-setting__block">
						<h2 class="ticket-setting__title">Інформація про покупця</h2>
						<div class="ticket-setting__form-block">
							<label class="ticket-setting__label">E-mail</label>
							<input required type="text" name="email" class="ticket-setting__input" placeholder="ivan@gmail.com">
						</div>
						<div class="ticket-setting__form-block">
							<label class="ticket-setting__label">Телефон</label>
							<input required type="text" name="phone" class="ticket-setting__input" placeholder="+38__ ___ __">
						</div>
					</div>
				</div>
				<div class="ticket-page__block ticket-payment">
					<div class="ticket-setting__block">
						<div class="ticket-payment__top">
							<h2 class="ticket-setting__title">До сплати</h2>
							<!--/*@thymesVar id="price" type="java.lang.Integer"*/-->
							<div class="ticket-payment__price ticket-setting__title" th:text="${price + ' грн'}"></div>
						</div>
						<div class="ticket-payment__middle">
							<p>Ваші платіжні та особисті дані надійно захищені відповідно до міжнародних стандартів безпеки.</p>
							<div class="ticket-payment__icons">
								<picture><source srcset="/img/maestro.webp" type="image/webp"><img src="/img/maestro.png" alt="" width="50px" height="30px"></picture>
								<picture><source srcset="/img/mastercard.webp" type="image/webp"><img src="/img/mastercard.png" alt="" width="50px" height="30px"></picture>
								<picture><source srcset="/img/visa.webp" type="image/webp"><img src="/img/visa.png" alt="" width="50px" height="30px"></picture>
							</div>
						</div>
						<div class="ticket-payment__form-block">
							<input required type="checkbox" class="ticket-payment__input">
							<label>Я приймаю умови публічної оферти, політики конфіденційності і повернення.</label>
						</div>
						<div class="ticket-payment__form-block">
							<input required type="checkbox" class="ticket-payment__input">
							<label>Згода на обробку персональних даних</label>
						</div>
						<!--/*@thymesVar id="journeyId" type="java.lang.Integer"*/-->
						<input name="journeyId" type="hidden" th:value="${journeyId}">
						<!--/*@thymesVar id="stopIdFrom" type="java.lang.Integer"*/-->
						<input name="stopIdFrom" type="hidden" th:value="${stopIdFrom}">
						<!--/*@thymesVar id="stopIdTo" type="java.lang.Integer"*/-->
						<input name="stopIdTo" type="hidden" th:value="${stopIdTo}">
						<button type="submit" class="ticket-page__link">Перейти до оплати</button>
					</div>
				</div>
			</form>
		</div>

		<footer class="footer">
			<div class="footer__container">
				© 2022, Flash — Онлайн сервіс з продажу квитків. Всі права захищені.
			</div>
		</footer>
	</div>
	<!-- <div id="popup" aria-hidden="true" class="popup">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close">Закрыть</button>
			<div class="popup__text">
				Text
			</div>
		</div>
	</div>
</div> -->
	<script src="/js/app.min.js?_v=20221213225228"></script>
</body>

</html>